.header_position{
    text-align: center;
}


.input_position{
    margin-left: 25%;
    margin-bottom: 4%;
}


.radio-position{
    display: inline-block;
    margin-right: 25px;
}

.button_position{
    margin-right: 20px;
}

.warning-tip{
    margin-left:45%;
    color:red
}

/*横向导航
   样式表
*/

/*
.tabs{
    margin-top: 30px;
    text-align: center;
}

.tabs li {
    display:inline;
    list-style: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin: 10%;
}


span.tab_style:focus, span.tab_style:hover, span.tab_style:active{
    text-decoration: none;
    border-bottom: 3px solid #b4a078;
    color: #b4a078!important;
    cursor: pointer;
}
*/



