
/*
登录注册页面框架
*/

*{
    margin:0;
    padding:0;
    font-family: "AR PL UKai CN","Noto Sans CJK JP Bold";
}

.logo {
    position: absolute;
    margin-top: 80px;
    margin-left: 40%;
    font-size: 45px;
    color: #b4a078;
}

.login-container .login-putin{
    width:400px;
    height: 380px;
    position:absolute;
    left:60%;
    top:50%;
    margin-top:-100px;
    padding:10px 20px;
    box-shadow: 3px 7px 21px rgba(0,0,0,3);
    border-radius:5px;
    background: white;
}

.tab-body{
    margin-top:25px
}


.input-container{
    margin-left: 50px;
    margin-bottom: 25px;
    height: 40px;
}

.submit-button{
    margin-left:50px;
    background: #b4a078;
    border-color: #b4a078;
    width:260px;
    height: 40px;
    color:white;
    font-size: 18px;
}

.input-style {
    height: 40px;
    width:260px;
    font-size: 16px;
    line-height: 16px;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-tip{
    margin-left: 120px;
    font-size: 25px;
    margin-bottom: 10px;
    color:#b4a078 ;
}

.login_input_size{
    width:250px !important;
    height: 40px !important;
}

.login_identity_style{
     margin-left: 25%;
    margin-bottom: 20px;
}

.login_jump_tip{
    margin-left: 25%;
    font-size: 20px;
}

.theme{
    text-align: left;
    font-weight: 300;
    font-size: 60px;
    color:#b4a078;
    margin-top:200px;
    margin-left: 180px;
}

