.display_type{
    display: inline-block;
}

.table_position{
    margin-top:-25%;
    margin-left: 20%;
}

.remove_border{
    border: none;
    background: none;
}

.pencil_color{
    color: green;
    cursor: pointer;
}

.remove_color{
    color: red;
    cursor: pointer;
}