.display_type{
    display: inline-block;
}

.table_position{
    margin-top:-25%;
    margin-left: 20%;
}

.remove_border{
    border: none;
    background: none;
}

.modify_color{
    color: #b4a078;
    cursor: pointer;
}

.remove_color{
    color: red;
    cursor: pointer;
}

.right_color{
    color: green;
    cursor: pointer;
}

.text_type{
    text-align: center;
}

.border_style{
    border: 1px solid #b4a078;
}

.hidden_flag{
    color: transparent;
}

.input_size{
    width:100%;
    height: 100%;
}